{% extends 'layout.html'  %}
<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
{% import "bootstrap/utils.html" as utils %}

{% block header %}
<h2>Dashboard</h2>
{% endblock %}

{% block content %}
    <h2>File in {{ filelist.name }}</h2>
    <ul>
        {%- for item in filelist.children recursive %}
            <li>{{ item.name }}
            {%- if item.children -%}
                <ul>{{ loop(item.children) }} </ul>
            {%- endif %}{{item.children}} <a href="/download/{{ item.children }}">download</a>
            </li>
        {%- endfor %}
    </ul>
<script>
        {% with messages = get_flashed_messages(with_categories=True) %}
            {% if messages %}
            {% for category, message in messages %}
            swal("{{ category }}", "{{ message }}", "{{ category }}");
            {% endfor %}
            {% endif %}
            {% endwith %}
    </script>

{% endblock %}