{% extends 'layout.html'  %}
<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
<script>
    document.getElementById("tombol").onclick=function(){
        document.getElementById('form_folder').submit();
    }
</script>
{% import "bootstrap/utils.html" as utils %}

{% block header %}

{% endblock %}

{% block content %}
<main role="main" class="container" style="margin-top: 40px">
    <br><br><br>
    <div class="container-fluid bg-3 text-center">    
        <h2>{{current}}</h2>
        <h3>{{size}}/16.0MiB</h3>
        <br>
  <div class="row">
    <div class="col-sm-6">
      <form class="form-horizontal" action="/makedir" method="POST">
            <!-- <div class="form-group"> -->
                <label class="control-label col-sm-12" for="">Create Directory</label>
                <input class="form-control" type="text" name="folder" placeholder="Create Folder" >
                <input type="hidden" name="current_dir" value="{{current}}">
                <button class="btn btn-primary" type="submit">create</button>
            <!-- </div> -->
        </form>
    </div>
    <div class="col-sm-6"> 
        <form class="form-horizontal" action="/uploader" method="POST" enctype="multipart/form-data">
            <label class="control-label col-sm-12" for="">File (.jpg, .jpeg, .png, .txt, .pdf, .mp3, .gif)</label>    
            <input type="file" class="form-control" name="file">
            <input type="hidden" name="current_dir" value="{{current}}">
            <button type="submit" class="btn btn-primary">Submit</button>
        </form>
    </div>
        
  </div>
</div>

        <div class="panel panel-default">
        <style>
            .fa-10x {
                font-size: 40px;
            }
        </style>
            <div class="row">
                <div class="col-sm-6"><center><a href="/" class="fa fa-arrow-left fa-10x" ></a></center></div>
                <div class="col-sm-6"><center><a href="/uproot?current_dir={{current}}" class="fa fa-home fa-10x" ></a></center></div>
            </div>
            <div class="panel-heading" style="background-color: #013880;color: white;">
            <center><b>File List</b></center>
        </div>
        <div class="panel-body">
            <div class="table table-responsive">
                <table class="table table-bordered table-striped">
                    <tbody>
                        {% for a in filelist.folder %}
                            <tr>
                                <td ><a href="/home?current_dir={{current}}&folder={{a}}"> <span><i class="fa fa-folder"></i></span> {{a}}</a></td>
                                <td colspan="2"><center><a href="/delete?current_dir={{current}}&object={{a}}"><i class="fa fa-trash"></i></a></center></td>
                                <td>
                                    <form action="/move" method="post">
                                    <div class="container">
                                        <div class="row">
                                            <input type="hidden" name="file" value="{{a}}">
                                            <input type="hidden" name="current_dir" value="{{current}}" >
                                            <div class="form-group">
                                                <select name="destination" id="" class="form-control" >
                                                    {% for i in filelist.folder %}
                                                    {% if i != a %}
                                                    <option value="{{current}}/{{i}}">{{i}}</option>
                                                    {% endif %}
                                                    {% endfor %}
                                                </select>
                                                <button type="submit"  class="btn btn-primary btn-sm">move</button>
                                            </div>
                                            <!-- <input type="submit" value="move" class="btn btn-primary"> -->
                                        </div>
                                    </div>
                                    </form>
                                </td>
                            </tr>
                        {% endfor %}
                        {% for a in filelist.files %}
                            <tr>
                                <td><a href="/open?current_dir={{current}}&file={{a}}" target="_blank" >{{a}}</a></td>
                                <td><center>
                                    <a href="/download?current_dir={{current}}&file={{a}}"><i class="fa fa-download"></i></a>
                                    </center>
                                </td>
                                <td>
                                    <center>
                                    <a href="/delete?current_dir={{current}}&object={{a}}"><i class="fa fa-trash"></i></a>
                                    </center>
                                </td>
                                <!-- <td>
                                    <center>
                                    <a href="/move?current_dir={{current}}&object={{a}}"><i class="fa fa-location-arrow"></i></i></a>
                                    </center>
                                </td> -->
                                <td>
                                    <form action="/move" method="post" style="padding-left:">
                                    <div class="container">
                                        <div class="row">
                                            <input type="hidden" name="file" value="{{a}}">
                                            <input type="hidden" name="current_dir" value="{{current}}" >
                                            <div class="form-group">
                                                <select name="destination" id="" class="form-control" >
                                                    {% for a in filelist.folder %}
                                                    <option value="{{current}}/{{a}}">{{a}}</option>
                                                    {% endfor %}
                                                </select>
                                                <button type="submit"  class="btn btn-primary btn-sm">move</button>
                                            </div>
                                            <!-- <input type="submit" value="move" class="btn btn-primary"> -->
                                        </div>
                                    </div>
                                    </form>
                                </td>
                            </tr>
                            
                        {% endfor %}
                        
                    </tbody>
                </table>
                
            </div>
        </div>
    </div>


</main>
{% endblock %}